@model List<DataAccess.Entity.MenuProduct>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .MenuImagePath {
        width: 100px;
        height: auto;
        border-radius: 20px;
    }
</style>
<main class="body-content">
    <div class="ms-content-wrapper">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb pl-0">
                        <li class="breadcrumb-item"><a href="~/Admin/Home"><i class="material-icons">home</i> AnaSayfa</a></li>
                        <li class="breadcrumb-item"><a href="~/Admin/Menu">Menus</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Menü Listesi</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-12">
                <div class="col-12">
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6> Menü Listesi</h6>

                        </div>
                        <div class="ms-panel-body">

                            <div class="table-responsive">
                                <table class="table w-100 thead-primary dataTable no-footer" role="grid" style="width: 1099px;">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="data-table-4" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Customer ID: activate to sort column descending" style="width: 156px;">
                                                Menü Görsel
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="data-table-4" rowspan="1" colspan="1" aria-label="Customer Name: activate to sort column ascending" style="width: 196px;">
                                                Menü ID
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="data-table-4" rowspan="1" colspan="1" aria-label="Customer Name: activate to sort column ascending" style="width: 196px;">
                                                Menü Adı
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="data-table-4" rowspan="1" colspan="1" aria-label="Email ID: activate to sort column ascending" style="width: 153px;">
                                                Kategori Adı
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="data-table-4" rowspan="1" colspan="1" aria-label="Ordered Item: activate to sort column ascending" style="width: 162px;">
                                                Stok Durumu
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="data-table-4" rowspan="1" colspan="1" aria-label="Bill: activate to sort column ascending" style="width: 61px;">
                                                Fiyat
                                            </th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var menuProduct in Model)
                                        {
                                        <tr role="row" class="odd">
                                            <td><img src="~/Content/menuProductImages/@menuProduct.MenuImagePath" style="width:50px; height:30px;"></td>
                                            <td class="sorting_1">@menuProduct.Id</td>
                                            <td>@menuProduct.MenuName</td>
                                            <td>@menuProduct.MenuCategory.CategoryName</td>
                                            <td>
                                                @if (@menuProduct.StockStatus == true)
                                                {
                                                <span>Mevcut</span>
                                                }
                                                else
                                                {
                                            <span><strong>Mevcut Değil</strong></span>
                                                }
                                                                                    </td>
                                            <td>@menuProduct.MenuPrice TL</td>
                                            <td><a href="~/Admin/Menu/UpdateMenuProduct/@menuProduct.Id" class="btn btn-gradient-info btn-md ">Düzenle</a></td>
                                            <td><a href="~/Admin/Menu/DeleteMenuProduct/@menuProduct.Id" class="btn btn-danger btn-md float-right">Sil</a></td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>




