@model DataAccess.Entity.Employee
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Waiter/Views/Shared/_WaiterLayout.cshtml";
}

<main class="body-content">
    <div class="ms-panel-body">
        <form asp-action="Edit" method="POST">
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label asp-for="IdentityNo">Kimlik Numarası</label>
                    @Html.TextBoxFor(x => x.IdentityNo, new { @class = "form-control", type = "text" })
                </div>
                <div class="col-md-12 mb-3">
                    <label asp-for="FirstName">Personel Adı</label>
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", type = "text" })
                </div>
                <div class="col-md-12 mb-3">
                    <label asp-for="LastName">Personel Soyadı</label>
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", type = "text" })
                </div>


                <div class="col-md-12 mb-3">
                    <label asp-for="BirthDate">Doğum Tarihi</label>
                    @Html.TextBoxFor(x => x.BirthDate.Date, new { @class = "form-control", type = "datetime" })


                </div>
                <div class="col-md-12 mb-3">
                    <label asp-for="HomePhone">Telefon Numarası</label>
                    @Html.TextBoxFor(x => x.HomePhone, new { @class = "form-control", type = "text" })
                </div>
                <div class="col-md-12 mb-3">
                    <label asp-for="Email">Mail Adres</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "text" })
                </div>
                <div class="col-md-12 mb-3">
                    <label asp-for="Adress">Adres</label>
                    @Html.TextBoxFor(x => x.Adress, new { @class = "form-control", type = "text" })
                </div>
                <div class="col-md-12 mb-3">
                    <label asp-for="Country">Ülke</label>
                    @Html.TextBoxFor(x => x.Country, new { @class = "form-control", type = "text" })
                </div>
                <div class="col-md-12 mb-3">
                    <label asp-for="City">Şehir</label>
                    @Html.TextBoxFor(x => x.City, new { @class = "form-control", type = "text" })
                </div>
                <div class="col-md-12 mb-3">
                    <label asp-for="PostalCode">Posta Kodu</label>
                    @Html.TextBoxFor(x => x.PostalCode, new { @class = "form-control", type = "text" })
                </div>
                <div class="col-md-12 mb-3">
                    <label asp-for="Picture">Personel Fotoğrafı</label>
                    <div class="custom-file">

                        @Html.TextBoxFor(x => x.Photo, new { @class = "form-control", type = "file" })

                    </div>
                </div>
                <button class="btn btn-primary float-end" type="submit">Güncelle</button>

            </div>
        </form>

    </div>

</main>
